.primary-navigation {
    width: 100%;
    z-index: 100;
}

.primary-navigation ul,
.primary-navigation ul li {
    list-style: none;
}

.primary-navigation ul li {
    display: inline-block;
}

.primary-navigation ul li > ul {
    display: none;
}

.primary-navigation ul li:hover > ul {
    display: block;
    position: absolute;
}