#projectsWrapper {
  background-color: white;
}

#projectsWrapper h2 {
  text-align: center;
}

#projectsWrapper .horizontalScroll .hsItem {
  text-align: center;
}

#projectsWrapper .horizontalScroll .hsItem h3 {
  text-transform: capitalize;
  padding: 0 20px;
  font-size: 1em;
  letter-spacing: 0.03em;
}