#heroWrapper {
  display: block;
}

.hero {
  display: table;
  height: calc(100vh - 30px);
  text-align: center;
  width: 100%;
  background-image: url(../../images/homeBanner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.content {
  color: #e2e2e2;
  background-color: rgba(0, 0, 0, 0.7);
  vertical-align: middle;
  display: table-cell;
}

.name {
  display: inline-block;
  border: 8px double var(--colorWhite);
}

.content h1 {
  font-size: 2.5em;
  margin: 0;
}

.content h2 {
  margin: 0;
  font-size: 1.45em;
}

.content h1 .line1 { font-size: 6.4rem; line-height: 0.8; }
.content h1 .line2 { font-size: 2.78rem; line-height: 0; }
.content h2 .line3 { font-size: 2rem; line-height: 0.9; }
.content h2 .line4 { font-size: 2.2rem; line-height: 1; }

.arrow-down {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--colorWhite);
}