html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

:root {
  --colorPrimary: #3B5E8C;
  --colorSecondary: #BFB39B;
  --colorTertiary: #BF755A;
  --colorPrimarySecond: #517EA6;
  --colorTertiarySecond: #59332A;    
  --gutter: 20px;
  --tileImgMinHeight: 300px;
  --gridWrapperWidth: 940px;
  --gridGap: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.01em;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trirong', serif;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  color: var(--colorPrimary);
}

/*****************************************************************
* COMMON ELEMENTS ***********************************************
*****************************************************************/

a button {
  margin: 30px;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid var(--colorPrimary);
  color: var(--colorPrimary);
  overflow: hidden;
  z-index: 1;
}

button:hover, button:active {
  color: #fff;
  background-color: var(--colorPrimary);
}

/*****************************************************************
* GRID **********************************************************
*****************************************************************/
.grid {
  /* Flex - fallback for browsers that do not support grid yet. */
  display: flex;
  flex-wrap: wrap;
}

.grid-panel {
  /* Flex - fallback for browsers that do not support grid yet. */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-gap: var(--gridGap);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.grid.not-full-width {
  max-width: var(--gridWrapperWidth);
}

@supports (display: grid) {
  .grid>* {
      /* We need to set the margin used on flex items to 0 as we have gaps in grid. */
      margin: 0;
  }
}

/*****************************************************************
* HORIZONTAL SCROLL *********************************************
*****************************************************************/

.horizontalScroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}

.horizontalScroll:before, .horizontalScroll:after {
  content: '';
  padding: 0 1px;
}

.horizontalScroll .hsItem {
  flex: 0 0 auto;
  margin: 20px;
  width: 70%;
  max-width: 300px;
}

.horizontalScroll .hsItem:first-child {
  margin-left: calc(var(--gutter) * 2);
}

.horizontalScroll .hsItem:last-child {
  margin-right: calc(var(--gutter) * 2);
}

.horizontalScroll .hsItem img {
  max-width: 100%;
}

/*****************************************************************
* HERO CONTENT **************************************************
*****************************************************************/

#heroWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: grey;
  background-image: url(../images/homeBanner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.hero {
  margin-top: 30px;
}

.content {
  color: #e2e2e2;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  text-align: center;
  display: block;
}

.content h1 {
  font-size: 2.5em;
  margin: 0;
  text-transform: uppercase;
}

.content h2 {
  color: var(--colorSecondary);
  margin: 0;
  font-size: 1.45em;
  text-transform: uppercase;
}

.arrow-down {
  margin: 70vh auto 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.6);
  /* animation-duration: 0.5s;
  animation-name: growAndShrink;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes growAndShrink {
  from {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid rgba(0, 0, 0, 0.6);
  }
  to {
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid rgba(0, 0, 0, 0.6);
  }
}

/*****************************************************************
* PROJECTS WRAPPER **********************************************
*****************************************************************/

#projectsWrapper {
  background-color: white;
  padding: 20px 0;
}

#projectsWrapper h2 {
  text-align: center;
}

#projectsWrapper .horizontalScroll .hsItem {
  text-align: center;
}

#projectsWrapper .horizontalScroll .hsItem h3 {
  text-transform: capitalize;
  padding: 0 20px;
  font-size: 1em;
  letter-spacing: 0.03em;
}

/*****************************************************************
* EXPERIENCE WRAPPER ********************************************
*****************************************************************/

#experienceWrapper {
  background-color: #f0f8ff;
  position: relative;
  z-index: 0;
}

#experienceWrapper h2 {
  text-align: center;
  padding-top: 20px;
}

#experienceWrapper h3 {
  color: #000000;
}

#experienceWrapper .grid {
  grid-template-columns: 1fr;
  grid-gap: 0
}

#experienceWrapper .grid-panel {
  padding: 0 20px;
}

#experienceWrapper .grid-panel:nth-child(1n) {
  background-color: var(--colorSecondary);
}

#experienceWrapper .grid-panel:nth-child(4n) {
  background-color: var(--colorPrimarySecond);
}

#experienceWrapper .grid-panel:nth-child(5n) {
  background-color: var(--colorSecondary);
}

#experienceWrapper .grid-panel:nth-child(8n) {
  background-color: var(--colorPrimarySecond);
}

#experienceWrapper .grid-panel:nth-child(2n),
#experienceWrapper .grid-panel:nth-child(3n),
#experienceWrapper .grid-panel:nth-child(6n),
#experienceWrapper .grid-panel:nth-child(7n) {
  background-image: url(../images/webdesign.jpg);
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#experienceWrapper .grid-panel:nth-child(3n) {
  background-image: url(../images/typingatmacbook.jpg);
}
#experienceWrapper .grid-panel:nth-child(6n) {
  background-image: url(../images/mobiledesign.jpg);
}
#experienceWrapper .grid-panel:nth-child(7n) {
  background-image: url(../images/ian.jpg);
}

#experienceWrapper .grid-panel:nth-child(4n),
#experienceWrapper .grid-panel:nth-child(8n) {
  background-image: none;
}
#experienceWrapper .grid-panel:nth-child(1n) .experience-content {
  text-align: center;
  margin: 10px 0 40px 0;
}

/*****************************************************************
* CONTACT WRAPPER ***********************************************
*****************************************************************/

#contactWrapper {
  padding: 20px;
  text-align: center;
}

#contactWrapper p {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

/*****************************************************************
* FOOTER ********************************************************
*****************************************************************/

footer {
  padding: 0 20px;
  background-color: var(--colorPrimary);
  color: #ffffff;
}

footer div.grid {
  grid-template-columns: 200px auto;
}

footer p, footer ul {
  margin: 20px 0;
}

footer ul {
  padding: 0;
  text-align: right;
  margin-bottom: 0;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 15px;
}

footer a {
  color: #ffffff;
}

/*****************************************************************
******************************************************************
* MEDIA QUERIES **************************************************
******************************************************************
******************************************************************/

@media (min-width: 700px) {
  #experienceWrapper .grid {
      grid-template-columns: 1fr 1fr;
  }

  #experienceWrapper .grid-panel:nth-child(1n) .experience-content {
      display: flex;
      align-items: center;
      margin: 40px 0;
      text-align: left;
  }

  #experienceWrapper .grid-panel:nth-child(1n) .experience-content .text {
      margin-left: 20px;
  }
  
  #experienceWrapper .grid-panel:nth-child(2n) .experience-content .text {
      margin-right: 20px;
  }
}

@media (min-width: 1000px) {
  #experienceWrapper .grid-panel:nth-child(1n) .experience-content {
      margin-left: calc(100% - (var(--gridWrapperWidth) / 2));
      margin-right: 0;
  }

  #experienceWrapper .grid-panel:nth-child(2n) .experience-content {
      margin-left: 0;
      margin-right: calc(100% - (var(--gridWrapperWidth) / 2));
      flex-direction: row-reverse;
  }
}
