footer div.grid {
  grid-template-columns: auto;
  text-align: center;
}

@media (min-width: 700px) {
  footer div.grid {
    grid-template-columns: 200px auto;
  }

  footer ul {
    text-align: right;
  }
}