#experienceWrapper {
  position: relative;
  z-index: 0;
}

#experienceWrapper .grid {
  grid-template-columns: 1fr;
  grid-gap: 0
}

#experienceWrapper .image-panel {
  background-color: var(--colorLightGrey);
}

#experienceWrapper .grid-panel:nth-child(2n):before {
  content: ' ';
  display: block;
  height: 100%;
  width: 10%;
  background-color: var(--colorWhite);
}

#experienceWrapper .grid-panel:nth-child(3n):before,
#experienceWrapper .grid-panel:nth-child(7n):before {
  content: ' ';
  display: block;
  height: 100%;
  width: 10%;
  float: right;
  background-color: var(--colorWhite);
}

#experienceWrapper .grid-panel:nth-child(6n):before {
  content: ' ';
  display: block;
  float: left;
  height: 100%;
  width: 10%;
  background-color: var(--colorWhite);
}

#experienceWrapper .grid-panel:nth-child(2n),
#experienceWrapper .grid-panel:nth-child(3n),
#experienceWrapper .grid-panel:nth-child(6n),
#experienceWrapper .grid-panel:nth-child(7n) {
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#experienceWrapper .grid-panel:nth-child(4n),
#experienceWrapper .grid-panel:nth-child(8n) {
  background-image: none;
}
#experienceWrapper .grid-panel:nth-child(1n) .experience-content {
  text-align: center;
  margin: 10px 0 40px 0;
}

#experienceWrapper .grid-panel .experience-content img {
  width: 20%;
}

#experienceWrapper .grid-panel .experience-content .text h3 {
  margin-bottom: 10px;
}

#experienceWrapper .grid-panel:nth-child(1n) .experience-content {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-align: left;
}

#experienceWrapper .grid-panel:nth-child(1n) .experience-content .text {
    margin-left: 20px;
}

#experienceWrapper .grid-panel:nth-child(2n) .experience-content .text {
    margin-right: 20px;
}

@media (min-width: 700px) {
  #experienceWrapper .grid {
    grid-template-columns: 1fr 1fr;
  }

  #experienceWrapper .grid-panel:nth-child(1n) .experience-content {
    margin: 40px 0;
  }

  #experienceWrapper .grid-panel:nth-child(1n) .experience-content img {
    width: 50%;
  }

  #experienceWrapper .grid-panel:nth-child(2n) .experience-content {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1000px) {
  #experienceWrapper .grid-panel:nth-child(1n) .experience-content {
      margin-left: calc(100% + 30px - (var(--gridWrapperWidth) / 2));
      margin-right: 0;
  }

  #experienceWrapper .grid-panel:nth-child(2n) .experience-content {
      margin-left: 0;
      margin-right: calc(100% + 30px - (var(--gridWrapperWidth) / 2));
  }
}