ul.dates li:after,
ul.category li:after,
ul.tags li:after {
  content: ', ';
}

ul.dates li:last-child:after,
ul.category li:last-child:after,
ul.tags li:last-child:after {
  content: '';
}

ul.author li img {
  border-radius: 100%;
  border: 3px solid var(--colorDarkGrey);
}

ul.author li a img {
  border: 3px solid var(--colorBlue);
}

article.post img.featured-image {
  max-height: 500px;
}

/*******************************************************
 ******** Styles for the content from WordPress ********
 *******************************************************/
 article.post .content h2,
 article.post .content h3,
 article.post .content h4,
 article.post .content h5,
 article.post .content h6,
 article.post .content p,
 article.post .content ul,
 article.post .content ol,
 article.post .content hr,
 article.post .content blockquote {
   max-width: var(--articleContentWidth);
   margin-left: auto; margin-right: auto;
 }
 
 article.post .content p,
 article.post .content figure {
   margin-top: 2rem; margin-bottom: 2rem;
 }

 article.post .content ul {
   padding-left: 20px;
 }

 article.post .content figure figcaption {
  font-style: italic;
  font-weight: 200;
  color: var(--colorDarkGrey);
  max-width: var(--articleContentWidth);
  margin-left: auto;
  margin-right: auto;
}

article.post .content figure img {
  display: block;
  margin: 10px auto;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}
 /*******************************************************/